onnxruntime!=1.16 #BUG: https://github.com/microsoft/onnxruntime/issues/17631
ovos-audio
ovos-audio-plugin-simple
ovos-classifiers
ovos-plugin-vlc
ovos-tts-plugin-mimic
ovos-tts-plugin-mimic2
ovos-tts-plugin-mimic3-server
ovos-tts-plugin-server
ovos-workshop
