onnxruntime
ovos-audio[extras]
ovos-audio-plugin-simple
git+https://github.com/OpenVoiceOS/ovos-bidirectional-translation-plugin.git
ovos-classifiers
ovos-plugin-vlc
ovos-tts-plugin-mimic
ovos-tts-plugin-mimic2
ovos-workshop
