bitstruct
git+https://github.com/OpenVoiceOS/ovos-bidirectional-translation-plugin.git
ovos-core[lgpl]
ovos-translate-server-plugin
git+https://github.com/OpenVoiceOS/ovos-utterance-corrections-plugin.git
wheel
