git+https://github.com/goldyfruit/ovos-config.git
ovos-dinkum-listener
ovos-stt-plugin-server
ovos-stt-plugin-vosk
ovos-vad-plugin-precise
ovos-vad-plugin-silero
ovos-vad-plugin-webrtcvad
ovos-ww-plugin-pocketsphinx
ovos-ww-plugin-precise
ovos-ww-plugin-precise-lite
ovos-ww-plugin-vosk
