bitstruct
ovos-core[lgpl,plugins]
ovos-skill-boot-finished
ovos-skill-fallback-unknown
ovos-skill-alerts
ovos-skill-personal
ovos-skill-date-time
ovos-skill-hello-world
skill-wordnet
ovos-skill-spelling
ovos-skill-boot-finished
ovos-skill-audio-recording
ovos-skill-dictation
ovos-skill-parrot
ovos-skill-volume
ovos-skill-naptime
ovos-skill-homescreen
ovos-skill-weather
skill-ddg
skill-wolfie
ovos-skill-wikipedia
skill-ovos-fallback-chatgpt
ovos-skill-wikihow
ovos-skill-speedtest
ovos-skill-ip
ovos-skill-somafm
skill-news
ovos-skill-pyradios
ovos-skill-local-media
ovos-skill-youtube-music
